.product-container {
  padding: 30px;
  height: 70vh;
}

.product-root {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #fff;
}

.product-gridList {
  width: 500;
  height: 450;
}

.product-icon {
  color: rgba(255, 255, 255, 0.54);
}
