.inline {
  display: inline;
}

.listItemAlign {
  align-items: flex-start;
}

.root {
  background-color: #fff;
  max-width: 360px;
  width: 100%;
}

.mainroot {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
