.inline {
  display: inline;
}

.listItemAlign {
  align-items: flex-start;
}

.root {
  background-color: #fff;
  max-width: 360px;
  width: 100%;
}

.mainroot {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
